body, html{
  height:100%;
}
body{
  background-image: url('./assets/images/beach_background.jpg');
  background-size:cover;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton, #lineUp, #randomize, #moneyRain{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  /*background-color: #555;*/
}
.title{
  background-color: #777;
}
.dancer, .dollars{
  height: 150px;
  width: auto;
  position:absolute;
}

img {
  height: 100%;
  width: auto;
}

.center{
  display:center;
}

/*.hello {
  animation-name: moveIn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes moveIn {
  0% {transform: scale(1);},
  50% {transform:scale(5);},
  100% {transform: scale(1);}
}*/
